h1 {
    font-family: 'Dancing Script', cursive;;
    font-style: italic;
    text-align: center;
    font-size: 50px;
    background-color: rgb(250, 250, 250) 
    ;color: rgb(15, 15, 15); 
     text-align: center;
     border-radius: 5px;
     background-color: rgb(255, 255, 255);
     position:relative
     
     
}

h2{background-color: aliceblue 
    ;color: rgb(15, 15, 15); 
     text-align: center;
     border-radius: 5px;
     background-color: rgb(240, 247, 240); text-align: center;
    }

button {
    background-color: aqua;
    border-color: aqua;
    border-top: aqua;
    border-bottom: aqua;
    border-left: aqua;
    border-right: aqua;
    border-radius: 20px;
    cursor: pointer;box-shadow: #2980B9; 
    font-size: 20px;
    
    
}

/*Dropdown Button */
.button:hover {background-color: #2980B9;

  }

  .dropbtn{
      background-color: #2980B9;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
      transition: 0.2s;
  }
 